#top{
    text-align: center;
}

#recipeImg{
    display: none;
}

#recipeImg[src]{
    display: block;
    float: left;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
}
#recipeName{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    margin-top: 50px;
    
}

#recipeInstruct{
    margin-top: 20px;
    margin-right: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wrapper{
    display: flex;
}

#left{
    padding: 50px;
}

#right{
    padding: 50px;
}

body{
    margin-left: 200px;
    margin-right: 200px;
}